@model CarListingPaginationVM

<div>
    @await Html.PartialAsync("_SearchBar", Model.SearchCriteria)
</div>

@if (Model.CarListings != null && Model.CarListings.Any())
{
    <div class="row pb-3">
        @foreach (var Car in Model.CarListings)
        {
            <div class="col-log-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-top border-5 p-3 shadow rounded" style="height: 500px;">
                            <img src="@Car.Images?.First().ImageUrl" class="card-img-top rounded" style="object-fit: cover; height: 50%; width: 100%;" />
                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark bg-opacity-75 text-uppercase text-center">@Car.Model?.Brand?.Name @Car.Model?.Name</p>
                                    <p class="card-title h5 text-dark bg-opacity-75 text-uppercase text-center">@Car.Price.ToString()€</p>
                                    <p class="card-title h5 text-dark bg-opacity-75 text-uppercase text-center">Mileage: @Car.Mileage.ToString("N0")km</p>
                                    <p class="card-title h5 text-dark bg-opacity-75 text-uppercase text-center">Manufacturing year: @Car.Year.ToString()</p>
                                </div>
                                <div>
                                    <a asp-controller="Home" asp-action="Details" asp-route-id="@Car.CarId" class="btn btn-primary form-control">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <br />
        <p>No car listings found.</p>
    </div>
}

<div class="d-flex justify-content-center">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                @if (Model.SearchCriteria == null)
                {
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
                }
                else
                {
                    <a class="page-link" href="@Url.Action("Search")?@QueryStringHelper.BuildQueryString(Model.SearchCriteria, Model.PageIndex - 1)">Previous</a>
                }
            </li>
        }

        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                @if (Model.SearchCriteria == null)
                {
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
                }
                else
                {
                    <a class="page-link" href="@Url.Action("Search")?@QueryStringHelper.BuildQueryString(Model.SearchCriteria, i)">@i</a>
                }
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                @if (Model.SearchCriteria == null)
                {
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                }
                else
                {
                    <a class="page-link" href="@Url.Action("Search")?@QueryStringHelper.BuildQueryString(Model.SearchCriteria, Model.PageIndex + 1)">Next</a>
                }
            </li>
        }
    </ul>
</div>
