@model CarListingVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Car.CarId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Remove Listing</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-10">
                @{
                    <div id="carImagesCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            @if (Model?.Car?.Images != null)
                            {
                                var i = 0;
                                foreach (var image in Model.Car.Images)
                                {
                                    <button type="button" data-bs-target="#carImagesCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                                    i++;
                                }

                            }
                        </div>
                        <div class="carousel-inner">
                            @if (Model?.Car?.Images != null)
                            {
                                var isFirst = true;
                                foreach (var image in Model.Car.Images)
                                {
                                    <div class="carousel-item @(isFirst ? "active" : "")" data-bs-interval="10000">
                                        <img src="@image.ImageUrl" alt="Car Image" class="d-block w-100" style="object-fit: cover; height: 500px; width: 100%; border-radius:5px; border:1px solid #bbb9b9" />
                                    </div>
                                    isFirst = false;
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                }
                <div class="mb-3 row p-1">
                    <label asp-for="Car.BrandName" class="p-0"></label>
                    <select asp-for="Car.BrandName" asp-items="@Model.BrandOptions" class="form-control p-0" id="brandDropdown" disabled>
                        <option value="">---Select Brand---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Model" class="p-0"></label>
                    <select asp-for="Car.ModelId" asp-items="@Model.ModelOptions" class="form-control p-0" id="modelDropdown" disabled>
                        <option value="">---Select Model---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Year" class="p-0"></label>
                    <input asp-for="Car.Year" type="number" class="form-control" disabled />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Color" class="p-0"></label>
                    <select asp-for="Car.Color" class="form-control" disabled>
                        <option value="">---Select Color---</option>
                        @foreach (var value in Enum.GetValues(typeof(CarColor)))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.EngineType" class="p-0"></label>
                    <select asp-for="Car.EngineTypeId" asp-items="@Model.EngineTypeOptions" class="form-control p-0" disabled>
                        <option value="">---Select Engine Type---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.TransmissionType" class="p-0"></label>
                    <select asp-for="Car.TransmissionTypeId" asp-items="@Model.TransmissionTypeOptions" class="form-control p-0" disabled>
                        <option value="">---Select Transmission Type---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.FuelType" class="p-0"></label>
                    <select asp-for="Car.FuelTypeId" asp-items="@Model.FuelTypeOptions" class="form-control p-0" disabled>
                        <option value="">---Select Fuel Type---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.BodyType" class="p-0"></label>
                    <select asp-for="Car.BodyTypeId" asp-items="@Model.BodyTypeOptions" class="form-control p-0" disabled>
                        <option value="">---Select Body Type---</option>
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Mileage" class="p-0"></label>
                    <input asp-for="Car.Mileage" type="number" class="form-control" disabled />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Price" class="p-0"></label>
                    <input asp-for="Car.Price" type="number" class="form-control" disabled />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.NumberOfDoors" class="p-0"></label>
                    <select asp-for="Car.NumberOfDoors" class="form-control" disabled>
                        <option value="">---Select Number of Doors---</option>
                        @foreach (var value in Enum.GetValues(typeof(CarDoors)))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.NumberOfSeats" class="p-0"></label>
                    <input asp-for="Car.NumberOfSeats" type="number" class="form-control" disabled />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.VIN" class="p-0"></label>
                    <input asp-for="Car.VIN" type="text" class="form-control" disabled />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Description" class="p-0"></label>
                    <textarea asp-for="Car.Description" class="form-control" disabled></textarea>
                </div>
                <button type="submit" class="btn btn-danger" style="width:150px">Archive</button>
                <a asp-controller="CarListing" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
            </div>
        </div>
    </div>
</form>