@model CarListingVM

<form method="post" enctype="multipart/form-data">
    <input asp-for="Car.CarId" hidden />
    <input asp-for="UserId" value="@Model.UserId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Listing</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-10">
                <div class="mb-3 row p-1">
                    <label asp-for="Car.BrandName" class="p-0"></label>
                    <select asp-for="Car.BrandName" asp-items="@Model.BrandOptions" class="form-control p-0" id="brandDropdown">
                        <option value="">---Select Brand---</option>
                    </select>
                    <span asp-validation-for="Car.BrandName" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Model" class="p-0"></label>
                    <select asp-for="Car.ModelId" asp-items="@Model.ModelOptions" class="form-control p-0" id="modelDropdown">
                        <option value="">---Select Model---</option>
                    </select>
                    <span asp-validation-for="Car.ModelId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Year" class="p-0"></label>
                    <input asp-for="Car.Year" type="number" class="form-control" />
                    <span asp-validation-for="Car.Year" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Color" class="p-0"></label>
                    <select asp-for="Car.Color" class="form-control">
                        <option value="">---Select Color---</option>
                        @foreach (var value in Enum.GetValues(typeof(CarColor)))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                    <span asp-validation-for="Car.Color" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.EngineType" class="p-0"></label>
                    <select asp-for="Car.EngineTypeId" asp-items="@Model.EngineTypeOptions" class="form-control p-0">
                        <option value="">---Select Engine Type---</option>
                    </select>
                    <span asp-validation-for="Car.EngineTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.TransmissionType" class="p-0"></label>
                    <select asp-for="Car.TransmissionTypeId" asp-items="@Model.TransmissionTypeOptions" class="form-control p-0">
                        <option value="">---Select Transmission Type---</option>
                    </select>
                    <span asp-validation-for="Car.TransmissionTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.FuelType" class="p-0"></label>
                    <select asp-for="Car.FuelTypeId" asp-items="@Model.FuelTypeOptions" class="form-control p-0">
                        <option value="">---Select Fuel Type---</option>
                    </select>
                    <span asp-validation-for="Car.FuelTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.BodyType" class="p-0"></label>
                    <select asp-for="Car.BodyTypeId" asp-items="@Model.BodyTypeOptions" class="form-control p-0">
                        <option value="">---Select Body Type---</option>
                    </select>
                    <span asp-validation-for="Car.BodyTypeId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Mileage" class="p-0"></label>
                    <input asp-for="Car.Mileage" type="number" class="form-control" />
                    <span asp-validation-for="Car.Mileage" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Price" class="p-0"></label>
                    <input asp-for="Car.Price" type="number" class="form-control" />
                    <span asp-validation-for="Car.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.NumberOfDoors" class="p-0"></label>
                    <select asp-for="Car.NumberOfDoors" class="form-control">
                        <option value="">---Select Number of Doors---</option>
                        @foreach (var value in Enum.GetValues(typeof(CarDoors)))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                    <span asp-validation-for="Car.NumberOfDoors" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.NumberOfSeats" class="p-0"></label>
                    <input asp-for="Car.NumberOfSeats" type="number" class="form-control" />
                    <span asp-validation-for="Car.NumberOfSeats" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.VIN" class="p-0"></label>
                    <input asp-for="Car.VIN" type="text" class="form-control" />
                    <span asp-validation-for="Car.VIN" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Car.Description" class="p-0"></label>
                    <textarea asp-for="Car.Description" class="form-control"></textarea>
                    <span asp-validation-for="Car.Description" class="text-danger"></span>
                </div>
                <div id="carImagesCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @foreach (var image in Model.Car.Images)
                        {
                            var isActive = image == Model.Car.Images.First() ? "active" : "";
                            <div class="carousel-item @isActive" data-image-id="@image.ImageId" style="position: relative;">
                                <img src="@image.ImageUrl" alt="Car Image" class="d-block w-100" style="object-fit: cover; height: 500px; width: 100%; border-radius:5px; border:1px solid #bbb9b9" />
                                <button type="button" class="btn btn-danger" style="position: absolute; top: 10px; right: 10px; z-index: 10;" onclick="removeImage('@image.ImageId')">
                                    Remove
                                </button>
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carImagesCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carImagesCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
                <input name="removedImageIds" id="RemovedImageIds" hidden />
                <div class="mb-3 row p-1">
                    <label for="newImages" class="p-0">Add new Images:</label>
                    <input for="newImages" type="file" name="newImages" class="form-control border-0 shadow" multiple />
                    <span asp-validation-for="Car.Images" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary" style="width:150px">Update</button>
                <a asp-controller="CarListing" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}